<% provide(:title, 'Gallery') %>

    <aside class="col-md-4">
    <h1>Submit Photos</h1>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

<h1>Gallery</h1>

<ul class="microposts">
  <% @microposts.each do |micropost| %>
    <%= render @microposts %>
  <% end %>
</ul>

